article {
  background-color: hsl(0, 0%, 14%);
  background-image:
    linear-gradient(
      0deg,
      hsl(0, 0%, 14%) .25rem,
      hsl(0, 0%, 19%) .25rem,
      hsl(0, 0%, 19%) .5rem,
      hsl(0, 0%, 14%) .5rem
    ),
    linear-gradient(
      0deg,
      hsl(0, 0%, 14%) .25rem,
      hsl(0, 0%, 19%) .25rem,
      hsl(0, 0%, 19%) .5rem,
      hsl(0, 0%, 14%) .5rem
    );
  background-position:
    center bottom,
    center top;
  background-repeat: no-repeat;
  background-size: 11rem .75rem;
  border-radius: 4px;
  box-shadow: .15rem .25rem 0 0 black;
  box-sizing: border-box;
  color: var(--text-color);
  height: 5.5rem;
  padding: .75rem 1.25rem;
  position: relative;
  width: 13.5rem;
}

article::before,
article::after {
  background-color: black;
  border-radius: 2px;
  content: '';
  display: block;
  position: absolute;
  transform-origin: top left;
  z-index: -1;
}

article::after {
  height: 80%;
  left: calc(100% - 2px);
  top: 0;
  transform: skewY(60deg);
  width: calc(.15rem + 2px);
}

article::before {
  height: calc(.25rem + 2px);
  left: 0;
  top: calc(100% - 3px);
  transform: skewX(30deg);
  width: 80%;
}

canvas {
  background-color: hsl(210, 96%, 17%);
  border-color: hsl(0, 0%, 0%) transparent transparent hsl(0, 0%, 0%);
  border-radius: .25rem;
  border-style: solid;
  border-width: 1px;
  height: 4rem;
  width: 11rem;
}
