body {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

canvas {
  position: absolute;
}

.main {
  display: grid;
  grid-template-areas: 'sidebar main';
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

aside {
  background: var(--module-background);
  color: var(--module-title);
  grid-area: sidebar;
}

aside > header {
  font-family: 'Cute Font', sans-serif;
  font-size: 2.9rem;
  line-height: .5;
  padding: 1rem;
  text-align: center;
  text-shadow:
    -2px -2px 0 hsl(208, 25%, 45%),
    2px 2px 0 hsl(10, 57%, 48%);
}

aside > header > span {
  font-size: 1.9rem;
  line-height: 1;
  vertical-align: super;
}

main {
  background-image: linear-gradient(-10deg, hsl(0, 0%, 25%), hsl(0, 0%, 19%));
  grid-area: main;
}

dl {
  padding: 1rem;
}

dd li {
  padding: .25rem 0;
}
