dd {
  background-color: hsl(0, 0%, 19%);
  border-color: var(--accent-generator);
  border-radius: .25rem;
  border-style: solid;
  border-width: 0 0 0 .125rem;
  margin: 0 0 .5rem;
  padding: .5rem 0 .5rem 1rem;
}

dd.generators { border-color: var(--accent-generator); }
dd.modulators { border-color: var(--accent-modulator); }
dd.effects { border-color: var(--accent-effect); }
dd.utilities { border-color: var(--accent-utility); }
dd.audio { border-color: var(--accent-audio-path); }

dd > h4 {
  cursor: pointer;
  font-family: Gruppo, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 0 .25rem;
}

dd > section {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height .4s ease;
}

dd ul {
  bottom: 0;
  box-sizing: border-box;
  font-size: .8rem;
  list-style: none;
  margin: 0;
  padding: 0 0 0 .5rem;
  position: absolute;
  width: 100%;
}
