button {
  background-color: var(--module-background);
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--module-title);
  cursor: pointer;
  display: block;
  font-size: .9rem;
  font-weight: 300;
  height: 100%;
  padding: .2rem;
  text-align: left;
  transition: border-color .3s ease;
  width: 100%;
}

button.generators:hover {
  border-color: var(--accent-generator);
}

button.modulators:hover {
  border-color: var(--accent-modulator);
}

button.effects:hover {
  border-color: var(--accent-effect);
}

button.utilities:hover {
  border-color: var(--accent-utility);
}

button.audio:hover {
  border-color: var(--accent-audio-path);
}
